.cache
.ensime*
.idea
*.iml
*.bak
links.json
project/project
project/target
target
**/.DS_Store
**/*.json
**/*.yaml
**/digests
resources/digests/
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
test/
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
test/
project-bundle.mdzip
project-bundle-oclvalidation.mdzip
project-bundle-mdcustomizations.mdzip
output.mdzip
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
test/
project-bundle.mdzip
project-bundle-oclvalidation.mdzip
project-bundle-mdcustomizations.mdzip
output.mdzip
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
