.cache
.ensime*
.idea
*.iml
*.bak
links.json
project/project
project/target
target
**/.DS_Store
**/*.json
**/*.yaml
**/digests
resources/digests/
resources/digests/
resources/imce_md18_0_sp5_profiles_libraries_resource_2.11-1.11.zip
